<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row ">
        <div class="col-8 offset-2 mt-4">
            <h3>Update the Listing</h3>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" type="text" value="<%=listing.title%>" class="form-control" required>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" required class="form-control"><%=listing.description%> </textarea>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">
                    <p>Original Image Preview</p>
                    <img src="<%=originalImageUrl%>" alt="">
                </div>
                <div class="mb-3">
                    <label for="imageURL" class="form-label">Upload New Image</label>
                    <input name="imageURL" type="file" class="form-control">
                </div>
                <div class="mb-3" >
                    <label for="price" class="form-label">Price</label>
                    <input name="price" type="text" value="<%=listing.price%>" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="location" class="form-label">Location</label>
                    <input name="location" type="text" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="country" type="text" value="<%=listing.country%>" class="form-control" required>
                        <div class="invalid-feedback">Country Name should be valid</div>
                    </div>
                </div>
                <button class="btn btn-dark add-btn mt-3">Edit</button>
            </form>
        </div>
    </div>
</body>




